.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 10;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 28px;
}

.modal__title {
  color: #1a1b22;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-bottom: 22px;
}

.modal__close {
  background: none;
  background-image: url("../../assets/modal-close.svg");
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -46px;
  right: -46px;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
}

.modal__submit {
  width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  padding: 20px auto;
  background-color: #2f71e5;
  color: #fff;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__redirect {
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-top: 16px;
  color: #000;
}

.modal__redirect-btn {
  border: none;
  background-color: transparent;
  color: #2f71e5;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #2f71e5;
  margin: 0;
  margin-bottom: 31px;
}

.modal__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.modal__error {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: transparent;
  margin-top: 3px;
}

.modal__error_visible {
  color: #ff0000 !important;
}

@media screen and (max-width: 600px) {
  .modal__content {
    position: fixed;
    top: 56px;
    height: 100vh;
    max-width: 100vh;
    padding: 16px;
    box-sizing: border-box;
  }

  .modal__title {
    margin-bottom: 18px;
  }

  .modal__label {
    margin-bottom: 30px;
  }

  .modal__label:last-child {
    margin-bottom: 23px;
  }

  .modal__submit {
    max-width: 288px;
    margin: 0 auto;
  }

  .modal__close {
    background-image: url("../../assets/modal-close-mobile.svg");
    width: 24px;
    height: 24px;
    top: -40px;
    right: 16px;
  }
}
