.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 10;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 28px;
}

.modal__title {
  color: #1a1b22;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-bottom: 22px;
}

.modal__close {
  background: none;
  background-image: url("../../assets/modal-close.svg");
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -46px;
  right: -46px;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
}

.modal__submit {
  width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  padding: 20px 114px;
  background-color: #e6e8eb;
  margin: auto;
  cursor: pointer;
}

.modal__redirect {
  margin: auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-top: 16px;
  color: #000;
}

.modal__redirect-btn {
  border: none;
  background-color: transparent;
  color: #2f71e5;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #2f71e5;
  margin: 0;
  margin-bottom: 39px;
}

.modal__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
