.saved-news {
  background-color: #fff;
  position: relative;
  padding-top: 80px;
}

.saved-news__header {
  padding: 40px 104px 56px;
}

.saved-news__label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  color: #1a1b22;
  max-width: 530px;
}

.saved-news__keywords {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #1a1b22;
}

.saved-news__keywords-list {
  font-weight: 700;
}
