.about {
  display: flex;
  padding: 80px 104px;
  background-color: #fff;
}

.about__photo {
  width: 464px;
  height: 464px;
  border-radius: 50%;
}

.about__description {
  margin: 0;
  margin-left: 56px;
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  margin: 51 0 24px;
}

.about__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 24px;
}
