.search-form {
  margin: auto;
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}

.search-form__input {
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 608px;
  height: 64px;
  border: none;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 170px;
}

.search-form__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2f71e5;
}

.search-form__button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 168px;
  height: 64px;
  background-color: #2f71e5;
  color: #fff;
  border-radius: 100px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 1064px) {
  .search-form {
    margin-bottom: 48px;
  }

  .search-form__input {
    width: 452px;
    height: 56px;
  }

  .search-form__button {
    width: 160px;
    height: 56px;
  }
}
