.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 80px;
  padding: 30px 104px 26px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 3;
}
