.header {
  height: 80px;
  padding: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header__content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 104px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
