.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 152px;
}

.footer__links {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.footer__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer__copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #b6bcbf;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
}

.footer__github {
  width: 24px;
  height: 24px;
}

.footer__linkedin {
  width: 24px;
  height: 24px;
}
