.news-card {
  width: 400px;
  height: 576px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 0;
}

.news-card__save-btn {
  background-image: url("../../assets/bookmark.svg");
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.news-card__save-btn:hover {
  background-image: url("../../assets/bookmark-hover.svg");
}

.news-card__image {
  width: 100%;
  display: block;
  height: 272px;
}

.news-card__date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  margin-bottom: 12px;
}

.news-card__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  color: #1a1b22;
  margin: 0;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #1a1b22;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__source {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 1064px) {
  .news-card {
    width: 224px;
    height: 420px;
  }

  .news-card__content {
    padding: 16px;
  }

  .news-card__title {
    font-size: 22px;
  }

  .news-card__image {
    height: 150px;
  }
}
